<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:mvc="http://www.springframework.org/schema/mvc"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd">
    	
    	<!-- 自动扫描包 :注解-->
    	<context:component-scan base-package="mashen.action"></context:component-scan>
    	
    	
    	<!-- 视图解析 -->
    	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
            <property name = "prefix" value="/"></property>
            <property name = "suffix" value = ".jsp"></property>
            <property name="contentType" value="text/html;charset=utf-8"></property>
        </bean>
        
        <!-- 对静态资源的访问 -->
        <mvc:resources location="/" mapping="/**"/>    
        <!-- json数据返回支持 ，不加的话因为上面的原因，无法访问action-->    
        <mvc:annotation-driven></mvc:annotation-driven>
        
    	<!-- 异常烧描 -->
    	<!-- <bean class="mashen.ex"></bean> -->
    	<!-- 自定义拦截器 -->
    	<!-- <mvc:interceptors>
    	<bean class="mashen.interceptor"></bean>
    	</mvc:interceptors> -->

</beans>