<?xml version="1.0" encoding="UTF-8" ?> 
 <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="mashen.dao.UserDao">

	<!-- 结果集的映射，将数据库中的字段映射到Model对象中 -->
	<!-- <resultMap id="UserResultMap" type="com.mashen.model.User"> <result 
		property="empno" column="EMPNO" jdbcType="INTEGER" javaType="int" /> <result 
		property="ename" column="ENAME" jdbcType="VARCHAR" javaType="string" /> <result 
		property="pw" column="PW" jdbcType="VARCHAR" javaType="string" /> </resultMap> -->
	<!-- 使用insert标签，插入emp对象 -->
	<insert id="add" >
		insert into user (name,pw) values(#{name},#{pw})
	</insert>

</mapper>